<%- include('../../partials/head.ejs') %>
<body>
	<h1><%- pageTitle %></h1>
	<%- include('../../partials/sender/create-parcel.ejs') %>
	<div>Parcels</div>
	<ul>
		<li>Parcel 1</li>
		<li>Parcel 2</li>
		<li>Parcel 3</li>
		<li>Parcel 4</li>
	</ul>
</body>
<%- include('../../partials/footer') %>
